<h1> Story Index </h1>
<p>
  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %>
    <%= link_to 'Sign Up', new_user_registration_path %>
  <% end %>
</p>
<p>
  <% @stories.each do |s| %>
    <p>
    <%= link_to "#{s.title}", story_path(id: s.id) %>
    </p>
  <% end %>
</p>

<br>

<p>
  <%= link_to 'New Story', new_story_path %>
</p>
