<h1> New Character </h1>
<%= form_for :character, url: story_characters_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
