<h1> Edit Location </h1>
<%= form_for @location, url: story_location_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: @location.name %>
  </p>
  <p>
    <% if @location.location_type == "Planet" %>
      <%= f.label :population %>
      <%= f.text_field :population, placeholder: @location.population %>
    <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
