<h1> New Location </h1>
<%= form_for :location, url: story_locations_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type %>
    <%= f.text_field :location_type %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
